/*Import Google font families Noto Sans and Open Sans at font weight 400*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans:400');


/*Global styles & colors*/
* {
    font-family: "Open Sans", sans-serif;
}

/*Header & Menu Item styling*/
.active-page{
    border-bottom: 1px solid;
}

#hero-image {
    height:400px;
    width: 100%;
    background: url("../img/hero.jpg") no-repeat center center;
}

#hero-image-outer{
    height:400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#page-name {
    padding-right: 2rem;
}

/*Main section styling*/

#img-container {
    height: 300px;
    width: 100%;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}


/*Footer styling*/

.footer-social {
    margin-bottom: 0;
    vertical-align: bottom;

}

.footer-social ul {
    padding: 0;
    margin: 0;
}

.footer-social li {
    display: inline;
    float: center;
}

.footer-social i {
    font-size: 200%;
    padding: 10px 25px 0 25px;
    color: #343a40;
}
